## Ejemplo de variables de entorno.
## 1) Copia este archivo a `.env`
## 2) Ajusta valores según tu entorno

# Puertos expuestos en tu máquina
WEB_PORT=8080
PHPMYADMIN_PORT=8081
MYSQL_PORT=3307

# Credenciales de la app (PDO)
DB_HOST=db
DB_NAME=clase_db
DB_USER=clase_user
DB_PASS=clase123

# Credenciales root (solo para administración)
MYSQL_ROOT_PASSWORD=root
PMA_USER=root
